.vscode
extras
logs
.env
addons
*.log
*.log.*
*.db
*.db-*

!*.yaml
!.gitignore
!*.md

.storage
.cloud
.google.token
deps
tts
blueprints

.shopping_list.json
ip_bans.yaml
secrets.yaml
known_devices.yaml
