HASS_DASHBOARD_URL=hass.example.tld

EWELINK_HASS_URL=http://hass-host-ip:port
EWELINK_HASS_TOKEN=hass-access-token
EWELINK_DASHBOARD_URL=ewelink.example.tld

TASMOADMIN_DASHBOARD_URL=tasmoadmin.example.tld
TASMOADMIN_PORT=8888